// 圆角
// 默认4px,
// 8-24px
.rounded {
  border-radius: 4px;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-none {
  border-radius: none;
}
@for $i from 6 through 24 {
  @if $i % 2==0 or $i % 5==0 {
    .rounded-#{$i} {
      border-radius: #{$i}px;
    }
  }
  @each $key, $value in tl top-left, tr top-right, bl bottom-left,
    br bottom-right
  {
    .rounded-#{$key}-#{$i} {
      border-#{$value}-radius: #{$i}px;
    }
  }
  @each $key, $value, $value2 in t top-left top-right,
    b bottom-left bottom-right, l top-left bottom-left,
    r top-right bottom-right br bottom-right
  {
    .rounded-#{$key}-#{$i} {
      border-#{$value}-radius: #{$i}px;
      border-#{$value2}-radius: #{$i}px;
    }
  }
}

@each $key, $value, $value2 in t-full top-left top-right,
  b-full bottom-left bottom-right, l-full top-left bottom-left,
  r-full top-right bottom-right br bottom-right
{
  .rounded-#{$key} {
    border-#{$value}-radius: 9999px;
    border-#{$value2}-radius: 9999px;
  }
}

.border,
.border-b,
.border-l,
.border-r,
.border-t,
.border-tb {
  border: 0 solid #e4e7ed;
}

.border-t {
  border-top-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-tb {
  border-width: 1px 0;
}

.border {
  border-width: 1px;
}
.border-current {
  border-color: currentColor;
}
