@each $key, $value,$value2 in 
red #e54d42 #fadbd9, 
orange #f37b1d #fde6d2,
yellow #fbbd08 #fef2ce,
green #39b54a #d7f0dbff,
blue #0081ff #cce6ff,
cyan #1cbbb4 #d2f1f0,
purple #6739b6 #e1d7f0,
mauve #9c26b0 #ebd4ef,
pink #e03997 #f9d7ea,
olive #8dc63f #e8f4d9,
brown #a5673f #ede1d9,
grey #8799a3 #e7ebed,
gray #aaaaaa,
black #000,
ccc #ccc,
333 #333,
666 #666,
999 #999,
{
	.bg-#{""+$key} {
		background-color: $value;
		color: #fff;
		&-light{
			color: $value;
			background-color: $value2;
		}
	}
}

.bg-gray {
	background-color: #f0f0f0;
}

@each $key, $value in 
gray #f0f0f0,
black #000,
white #fff,
f8 #f8f8f8,
eee #eee,
transparent transparent,
current currentColor{
	.bg-#{""+$key} {
		background-color: $value;
	}
}



@each $key in auto, cover, contain {
	.bg-#{$key} {
		background-size: $key;
	}
}

.bg-center {
	background-position: center;
}

.bg-no-repeat {
	background-repeat: no-repeat;
}