// 圆角
// 默认4px,
// 8-24px
.rounded {
  border-radius: 4px;
}
.rounded-full {
  border-radius: 9999px;
}
@for $i from 6 through 24 {
  @if $i % 2==0 or $i % 5==0 {
    .rounded-#{$i} {
      border-radius: #{$i}px;
    }
  }
}

/* start--Retina 屏幕下的 1px 边框--start */
.border,
.border-b,
.border-l,
.border-r,
.border-t,
.border-tb {
  position: relative
}

.border-b:after,
.border-l:after,
.border-r:after,
.border-tb:after,
.border-t:after,
.border:after {
  /* #ifndef APP-NVUE */
  content: ' ';
  /* #endif */
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  box-sizing: border-box;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  // 多加0.1%，能解决有时候边框缺失的问题
  width: 199.8%;
  height: 199.7%;
  transform: scale(0.5, 0.5);
  border: 0 solid #e4e7ed;
  z-index: 2;
}

.border-t:after {
  border-top-width: 1px
}

.border-l:after {
  border-left-width: 1px
}

.border-r:after {
  border-right-width: 1px
}

.border-b:after {
  border-bottom-width: 1px
}

.border-tb:after {
  border-width: 1px 0
}

.border:after {
  border-width: 1px
}

/* end--Retina 屏幕下的 1px 边框--end */